
@mixin alertBox($bg-color, $font-color){
    width: 800px;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    background: $bg-color;
    color:$font-color;
}

.alertBox{
    &:nth-child(1){
        @include alertBox(green, black);
    }
    &:nth-child(2){
        @include alertBox(aqua, white);
    }
    &:nth-child(3){
        @include alertBox(yellow, green);
    }
    
}