%box{
    width: 200px;
    height: 200px;
    padding: 20px;
}
.bg-red{
    @extend %box;
    background: red;
}
.bg-blue{
    @extend %box;
    background: blue;
}
.bg-green{
    @extend %box;
    background: green;
}

@mixin font-style($size, $attr){
    font-size: $size;
    #{$attr}:-1px;
}

h2{
    @include font-style(40px, width)
}