@mixin box{
    width: 700px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #ccc;
}

button{
    border:none;
    background: transparent;
    &.active{
        background: blue;
        color:#fff;
    }
}
li{
    list-style: none;
    @include box;
    &.active{
        background: blue;
        color:#fff;
    }
}



